<!DOCTYPE html>
<html>
<head>
 
   <title> .EDU Conference </title>
<style>
* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 40%;
    padding: 10px;
    height: 300px;
    }
.column1 {
    float: left;
    width: 20%;
    padding: 10px;
    height: 300px;
    }
    .column2 {
    float: left;
    width: 20%;
    padding: 10px;
    height: 300px;
    }
    .column3 {
    float: left;
    width: 20%;
    padding: 10px;
    height: 300px;
    }
  
    </style>
   

    </head>
<body>

<h2>Items in your cart</h2>

<p id="demo"></p>



    


<div class="row">
  <div class="column">
    <h2>Item Name</h2>
    <p>First Name</p>
    <p>Last Name</p>
    <p>919 Number</p>
   
  </div>
  <div class="column1">
    <h2>Quantity</h2>
    <label for="val"></label>
    <input onchange="myFunction()" type="number" class="form-control" id="val" >
      
    
  </div>
  <div class="column2">
    <h2>Remove</h2>
  

    <div class="btn-row">
        <form action="/deleteQuantity" method="GET">
            <a class="btn btn-default btn-block" href="deleteQuantity" role="button">Delete</a></form>
    </form>
    </div>
    
  </div>
   <div class="column3">
    <h2>Amount</h2>
      
    <p id="demo1"></p>  

  </div>
    
    <div class="btn-row">
        <form action="/paymentthroughcheck" method="GET">
        <a class="btn btn-default btn-block" href="Paymentthroughcheck" role="button">Pay Through Check</a></form> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form action="/PayThroughCards" method="GET">
        <a class="btn btn-default btn-block" href="payThroughCards" role="button">Pay Through Cards</a></form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="goBack()">Go Back</button>
    </div>
    </div>

    <script>
        function goBack() {
        window.history.back();
        }
        </script>
   
       
    
        <script>
                function myFunction() {
                 document.getElementById("demo").innerHTML = "Your shopping cart has been updated successfully";
                  var x = document.getElementById("val").value;
                  document.getElementById("demo1").innerHTML = x*21.5;
                  function goBack() {
    window.history.back();
    }
                 
                }
                </script>
</body>
</html>
