<!DOCTYPE html>
<html>
<head>

<style>
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    }
.column1 {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px;
    }
    
    .column3 {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px;
    }
  
    </style>
   

    </head>
<body>

    <h2>Contact Information</h2>
    <form action="/action_page.php">
        
          Email: <input type="text" name="email">
          <input type="submit" value="Continue">
        </form>
        

<h2>Items in your cart</h2>

<p id="demo"></p>



    


<div class="row">
  <div class="column">
    <h2>Item Name</h2>
    <p>First Name</p>
    <p>Last Name</p>
    <p>919 Number</p>
   
  </div>
  <div class="column1">
    <h2>Quantity</h2>
    <input type="number" id="myNumber" value="1">
   
    
  </div>
 
    
  </div>
   <div class="column3">
    <h2>Amount</h2>
    <p id="demo1"></p>  

  </div>

        <div class="btn-row">
                <a class="btn btn-default btn-block" href="file:///C:/Users/S530714/Desktop/gdp-group03/Final%20Project/views/checkout.html" role="button">Continue Shopping</a> 
            
                <button onclick="myFunction()">Update Cart</button>
               
                <a class="btn btn-primary btn-block" href="javascript:TN.ustores.submitForm(TN.selectors.DeliveryMethodNav);" role="button">Checkout</a>
        </div>
        <script>
                function myFunction() {
                  
                  document.getElementById("demo").innerHTML = "Your shopping cart has been updated successfully";

                  var x = document.getElementById("myNumber").value;
                  document.getElementById("demo1").innerHTML = x*21.5;
                }
                </script>
</body>
</html>
