<html>
<head>

<title> .edu conference </title>
</head>
<body>
<p>As you are a faculty you just need to pay half of the full amount.</p>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">					
    <button type="submit"  class="btn btn-primary"><a href="./Paymentthroughcheck.html">Paythroughcheck</button></div>
    <div class="col-md-4"></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">					
        <button type="submit"  Style="margin-right: 10px" class="btn"><a href="./PayThroughCards.html">Paythroughcard</a></button></div>
        <div class="col-md-4"></div>
</body>
</html>