<% include adminheader %>
<div class="container-fluid">
<p id="demo"></p>

<div class="row">
  <div class="column">
    <h2>Total number of Attendees</h2>
   <p> Total : <%= result %></p>
  </div>
</div>



