<% include home %>
<head>
	<link href="/css/home.css" type="text/css" rel="stylesheet" />
	</head>
<div class="container">
			<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h2>Attendee Registration Form</h2>
					</div>
					<div class="col-md-2"></div>
                </div>
                <div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p>Please fill the below details</p>
					</div>
					<div class="col-md-2"></div>
				</div>
	<form action="/attendee" method="POST">
			<div class="row"> 
				<div class="col-md-4"></div>
				<div class="col-md-4">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" name="name" required>
				</div>
				</div>
				<div class="col-md-4"></div>
			 </div>
			 <div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" name="email" required></div></div>
				<div class="col-md-4"></div>
			 </div>
			 <div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
				<div class="form-group">
					<label for="contact">Contact Number</label>
					<input type="text" class="form-control" id="contact" name="contact" required></div></div>
					<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
				<div class="form-group">
					<label for="school">School</label>
					<input type="school" class="form-control" id="school" name="school"></div></div>
					<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="topic">Program</label>
						<input type="topic" class="form-control" id="program" name="program" required></div></div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="cheque">Presenter</label>
						<input type="cheque" class="form-control" id="presenter" name="presenter" required></div></div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="Food">Food(Specify Veg or Non-Veg)</label><br>
						<input type="food" class="form-control" id="food" name="food"></div></div>
		<div class="col-md-4"></div>
		</div>
		<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="restrict">Do you have any dietary restrictions for the provided breakfast or lunch?</label>
						<input type="restrict" class="form-control" id="restrict" name="restrict" required></div></div>
		<div class="col-md-4"></div>
		</div>
			<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
			<button type="submit" class="btn btn-primary">Submit</button></div>
			<div class="col-md-4"></div>
		</form>