<% include home %>
<div class="container">
			<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h2>Attendee Registration Form</h2>
					</div>
					<div class="col-md-2"></div>
                </div>
                <div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p>Please fill the below details</p>
					</div>
					<div class="col-md-2"></div>
				</div>
	<form action="/cart" method="GET">
			<div class="row"> 
				<div class="col-md-4"></div>
				<div class="col-md-4">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" name="name" required>
				</div>
				</div>
				<div class="col-md-4"></div>
			 </div>
			 <div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" name="email" required></div></div>
				<div class="col-md-4"></div>
			 </div>
			 <div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
				<div class="form-group">
					<label for="contact">Contact Number</label>
					<input type="text" class="form-control" id="contact" name="contact" required></div></div>
					<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
				<div class="form-group">
					<label for="school">School</label>
					<input type="school" class="form-control" id="school" name="school" required></div></div>
					<div class="col-md-4"></div>
			</div>
			<!-- <div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
					<div class="form-group">
					<label for="Attendee Type">Attendee Type</label>	
			 <form action="/action_page.php">
				<select name="Attendee Types"Style="width:370px">
	                <option value="Northwest Graduation Student">Northwest Graduation Student</option>
	                <option value="Graduation Student">Graduation Student</option>
	                <option value="Northwest Faculty">Northwest Faculty</option>
	            </select>
			</form> 
		</div>
	</div>
</div> -->
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="topic">Program</label>
						<input type="topic" class="form-control" id="topic" name="Topic" required></div></div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="cheque">Presenter</label>
						<input type="cheque" class="form-control" id="presenter" name="presenter" required></div></div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
			<button type="submit" class="btn btn-primary">Submit</button></div>
			<div class="col-md-4"></div>
		</form>