<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<%- include header.ejs %>

<div class = "container">
        <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                      <form>
                        
                        <div class="form-group">
                                <label for="email">User Name:</label>
                                <input type="email" class="form-control" id="email" name="email">
                        </div>

                        <div class="form-group">
                          <label for="email">Password:</label>
                          <input type="pwd" class="form-control" id="pwd" name="password">
                       </div>
                           
                        
                        <button type="submit">Login</button>
                        <br>
                        <button type="submit">Cancel</button><span class="psw"><a href="#">  Forgot password?</a></span></div>
                        
                      </form>
                </div>
                <div class="col-sm-4">
              </div>
    </div>
        
</body>