<%include adminheader%>

<div class="container">

<link href="/css/AdminStyling.css" type="text/css" rel="stylesheet" />
<h3 style="text-align:center">Update Deadlines</h3>

<table class="w3-table-all w3-card-4" id="update"  align="center">
    <thead>
        <tr>
            <th> Program Name </th>
            <th> Date </th>
        </tr>
    </thead>
    <tr>
      <td contenteditable="true"> Submit Proposal</td>
      <td contenteditable="true">March 1st, 2019 5:00 PM</td>
    </tr>
    <tr>
        <td contenteditable="true">Notification of Proposal Acceptance</td>
        <td contenteditable="true">April 1st, 2019 5:00 PM</td>
    </tr>
    <tr>
            <td contenteditable="true">Early Bird Registration Opens</td>
            <td contenteditable="true">February 4th, 2019 5:00pm</td> 
    </tr>
    <tr>
            <td contenteditable="true">Early Bird Registration Ends</td>
            <td contenteditable="true">May 15th, 2019 5:00 PM</td> 
    </tr>
    <tr>
            <td contenteditable="true">Submit Paper</td>
            <td contenteditable="true">September 13, 2019</td> 
    </tr>
</div>
</table>
