<%include adminheader%>

<link href="/css/AdminStyling.css" type="text/css" rel="stylesheet" />
<h3 style="text-align:center">Update Deadlines</h3>

<table class="w3-table-all w3-card-4" id="update"  align="center">
    <thead>
        <tr>
            <th> Program Name </th>
            <th> Date </th>
        </tr>
    </thead>
    <tr>
      <td> Submit Proposal</td>
      <td>March 1st, 2019 5:00 PM</td>
    </tr>
    <tr>
        <td>Notification of Proposal Acceptance</td>
        <td>April 1st, 2019 5:00 PM</td>
    </tr>
    <tr>
            <td>Early Bird Registration Opens</td>
            <td>February 4th, 2019 5:00pm</td> 
    </tr>
    <tr>
            <td>Early Bird Registration Ends</td>
            <td>May 15th, 2019 5:00 PM</td> 
    </tr>
    <tr>
            <td>Submit Paper</td>
            <td>September 13, 2019</td> 
    </tr>
</table>