<% include adminheader %>

<link href="/css/AdminStyling.css" type="text/css" rel="stylesheet" />
<h3 style="text-align:center">Update Deadlines</h3>

<table class="w3-table-all w3-card-4" id="update"  align="center">
        <tr>
          <th>Registarion rates</th>
          <th>Registarion fee</th> 
          <th>What included?</th>
        </tr>
        <tr>
          <td>Earlybird rate</td>
          <td>$125</td> 
          <td>Multiple session options, breakfast, lunch, conference notetaker</td>
        </tr>
        <tr>
          <td>Regular rate</td>
          <td>$150</td> 
          <td>Multiple session options, breakfast, lunch, conference notetaker</td>
        </tr>
        <tr>
            <td>Group (3 or more)</td>
            <td>$125/person</td> 
            <td>Multiple session options, breakfast, lunch, conference notetaker</td>
          </tr>
          <tr>
            <td>presenter</td>
            <td>$100</td> 
            <td>Multiple session options, breakfast, lunch, conference notetaker</td>
          </tr>
          <tr>
            <td>High Ed rate</td>
            <td>$50</td> 
            <td>Multiple session options, breakfast, lunch</td>
          </tr>
          <tr>
            <td>Onsite</td>
            <td>$130</td> 
            <td>Multiple session options, breakfast, lunch</td>
          </tr>
      </table>