body{
    font-family: cursive;
    }
    .right{
        float:right;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;   
        color: Black;
       }
<<<<<<< HEAD
     
=======
       .col{
           float: right;
       }
       .ven{
           margin-left: 230px;
       }
>>>>>>> 45485ef268100b1d5d37719e424f9a2f3b4f0181
